Repository nexuhss/tdw-mp1-henrique-policarpo: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, eslint

lefthook.yml:

# Lefthook configuration for Next.js + TypeScript project
# Refer to: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    prettier:
      glob: "*.{js,ts,jsx,tsx,json,css,md,yml}"
      run: npx prettier --write {staged_files}
      stage_fixed: true
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files} --fix
      stage_fixed: true

pre-push:
  commands:
    tests:
      run: npm test
    lint:
      run: npx eslint .
    format-check:
      run: npx prettier --check .

Added ESLint, Prettier, Jest, Lefthook Fixed Next.js 15 compatibility
  eslint.config.mjs
Due: none

feat: add GitHub Actions CI/CD pipeline with multiple triggers
  .github/workflows/ci-cd.yml
  GITHUB_ACTIONS_SETUP.md
  NETLIFY_SETUP.md
Due: prettier

fix: remove artifacts upload/download, build directly in deploy job
  .github/workflows/ci-cd.yml
Due: prettier

fix: use Netlify CLI for deployment instead of action
  .github/workflows/ci-cd.yml
Due: prettier

feat: optimize pipeline with parallel jobs and GitHub Actions features
  .github/workflows/ci-cd.yml
  BRANCH_PROTECTION.md
Due: prettier

docs: add clear reminder to disable schedule trigger after validation
  .github/workflows/ci-cd.yml
Due: prettier

docs: add clear reminder to disable schedule trigger after validation (#1)
  .github/workflows/ci-cd.yml
Due: prettier

docs: add clear reminder to disable schedule trigger after validation (#2)
  .github/workflows/ci-cd.yml
Due: prettier

ci: add GitLab CI/CD pipeline configuration
  .gitlab-ci.yml
Due: prettier

fix: add Contentful environment variables to build job
  .gitlab-ci.yml
Due: prettier

chore: add debug step to check env variables
  .gitlab-ci.yml
Due: prettier

teste
  .gitlab-ci.yml
Due: prettier

fix: correct script syntax in build job
  .gitlab-ci.yml
Due: prettier

fix: remove blank line causing yaml parse error
  .gitlab-ci.yml
Due: prettier

fix: use posix shell syntax for debug commands
  .gitlab-ci.yml
Due: prettier

fix: remove variables block to allow CI/CD variables to load
  .gitlab-ci.yml
Due: prettier

feat: add comprehensive Contentful API integration tests
  jest.setup.js
  lib/api.test.ts
  lib/math.test.ts
  lib/math.ts
  package-lock.json
  package.json
Due: prettier, eslint

fix: make tests compatible with CI/CD environments
  lib/api.test.ts
Due: prettier, eslint

Feat/contentful api tests (#3)
  .gitlab-ci.yml
  jest.setup.js
  lib/api.test.ts
  lib/math.test.ts
  lib/math.ts
  package-lock.json
  package.json
Due: prettier, eslint

feat: add Lighthouse CI for automated performance testing
  .github/workflows/ci-cd.yml
  .gitlab-ci.yml
  LIGHTHOUSE_CI.md
  lighthouserc.json
  package-lock.json
  package.json
Due: prettier

fix: install Chrome in GitLab Lighthouse CI job
  .gitlab-ci.yml
Due: prettier

Feat/lighthouse ci (#4)
  .github/workflows/ci-cd.yml
  .gitlab-ci.yml
  LIGHTHOUSE_CI.md
  lighthouserc.json
  package-lock.json
  package.json
Due: prettier

feat: automatic WebP image conversion and optimization
  IMAGE_OPTIMIZATION.md
  lib/contentful-image.tsx
Due: prettier, eslint

fix: remove unsupported fl parameter from Contentful image loader
  lib/contentful-image.tsx
Due: prettier, eslint

fix: add Chrome flags for CI environment (no-sandbox for root execution)
  lighthouserc.json
Due: prettier

fix: add Chrome flags for CI environment (no-sandbox for root execution) (#8)
  lighthouserc.json
Due: prettier

test: add comprehensive image loader and URL validation tests
  .github/workflows/ci-cd.yml
  lib/api.test.ts
  lib/contentful-image.test.ts
  lib/contentful-image.tsx
Due: prettier, eslint

Fix/chrome flags ci (#9)
  .github/workflows/ci-cd.yml
  lib/api.test.ts
  lib/contentful-image.test.ts
  lib/contentful-image.tsx
Due: prettier, eslint

feat: integrate Discord notifications for CI/CD pipelines
  .github/workflows/ci-cd.yml
  .gitlab-ci.yml
  DISCORD_NOTIFICATIONS.md
Due: prettier

Fix/chrome flags ci (#10)
  .github/workflows/ci-cd.yml
  .gitlab-ci.yml
  DISCORD_NOTIFICATIONS.md
Due: prettier

chore: remove documentation files
  BRANCH_PROTECTION.md
  DISCORD_NOTIFICATIONS.md
  GITHUB_ACTIONS_SETUP.md
  IMAGE_OPTIMIZATION.md
  LIGHTHOUSE_CI.md
  README.md
Due: prettier

Cleanup/remove documentation (#11)
  BRANCH_PROTECTION.md
  DISCORD_NOTIFICATIONS.md
  GITHUB_ACTIONS_SETUP.md
  IMAGE_OPTIMIZATION.md
  LIGHTHOUSE_CI.md
  README.md
Due: prettier
